<div>
  <mat-form-field>
    <mat-label>{{ 'FILTER_NAME' | translate }}</mat-label>
    <input matInput [(ngModel)]="filterName" (input)="applyFilter()" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'FILTER_START_DATE' | translate }}</mat-label>
    <input matInput [matDatepicker]="startPicker" [(ngModel)]="filterStartDate" (dateChange)="applyFilter()" />
    <mat-datepicker #startPicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'FILTER_END_DATE' | translate }}</mat-label>
    <input matInput [matDatepicker]="endPicker" [(ngModel)]="filterEndDate" (dateChange)="applyFilter()" />
    <mat-datepicker #endPicker></mat-datepicker>
  </mat-form-field>
</div>
<mat-table [dataSource]="filteredItems" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> {{ 'NAME' | translate }} </mat-header-cell>
    <mat-cell *matCellDef="let item" (click)="openViewDialog(item)"> {{ item.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="creationDate">
    <mat-header-cell *matHeaderCellDef> {{ 'CREATION_DATE' | translate }} </mat-header-cell>
    <mat-cell *matCellDef="let item" (click)="openViewDialog(item)"> {{ item.creationDate | date: 'short' }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="dueDate">
    <mat-header-cell *matHeaderCellDef> {{ 'DUE_DATE' | translate }} </mat-header-cell>
    <mat-cell *matCellDef="let item" (click)="openViewDialog(item)"> {{ item.dueDate | date: 'short' }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> {{ 'ACTIONS' | translate }} </mat-header-cell>
    <mat-cell *matCellDef="let item">
      <button mat-button (click)="moveItemUp(item)">{{ 'MOVE_UP' | translate }}</button>
      <button mat-button (click)="moveItemDown(item)">{{ 'MOVE_DOWN' | translate }}</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
