<h1 mat-dialog-title>{{ isReadOnly ? ('VIEW_ITEM' | translate) : ('ADD_ITEM' | translate) }}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>{{ 'NAME' | translate }}</mat-label>
    <input matInput [(ngModel)]="data.item.name" [disabled]="isReadOnly" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'DUE_DATE' | translate }}</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="data.item.dueDate" [disabled]="isReadOnly" />
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'DESCRIPTION' | translate }}</mat-label>
    <textarea matInput [(ngModel)]="data.item.description" [disabled]="isReadOnly"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{ isReadOnly ? ('CLOSE' | translate) : ('CANCEL' | translate) }}</button>
  <button mat-button (click)="onSave()" *ngIf="!isReadOnly">{{ 'SAVE' | translate }}</button>
</div>
